<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Local Network Usage Description </key>
	<string>pra poder jogar com os amigo</string>
	<key>_mdv-hm._tcp</key>
	<string></string>
	<key>_mdv-hm._udp</key>
	<string></string>
	<key>Bonjour services with the following initialisation: _mdv-hm._tcp and _mdv-hm._udp</key>
	<string></string>
</dict>
</plist>
