<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_mdv-hm._tcp</string>
		<string>_mdv-hm._udp</string>
	</array>
	<key>Privacy - Local Network Usage Description </key>
	<string>pra poder jogar com os amigo</string>
</dict>
</plist>
